body{
    background-color: #272058;
    color:white;
}

/* div that holds logo text and gem images */
.game-logo{
    margin: auto;
    margin-bottom: 15px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

/* logo text */
.game-name{
    font-family:'Pacifico', cursive;

    text-align: center;
    margin: 10px 10px;
}

/* gems next to logo text */
.logo-gem{
    width: 2em;
    height: 2em;
    vertical-align: center;
}

/* container for directions (collectors guide) */
.card{
    background-color: #545D91;
    margin-bottom: 25px;
        
}
.card-header{
    font-family:'Pacifico', cursive;
    text-align: center;
    font-size:1.5em;
}

.card-body{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    padding-bottom: 0px;
}

li{
    list-style: none;
    justify-content: right;    
    margin-bottom: 5px;
  }
  /* for the gems as bullets*/
  li:before{
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    background-image: url("../images/images/bulletgem.png");
    background-size: contain;
    margin-right: 5px;
    position: absolute;
    left:35px;
    
    background-repeat: no-repeat;
    
  }

 /*style for all counters*/ 
 .game-elements{
     margin-bottom: 20px;
 } 

/*all headers*/
h3{
    font-family:'Pacifico', cursive;
    margin: auto;
    text-align: center;
    
   
}

/*wins and loss text*/
.win-loss{
    text-align: center;
}

.wins{
    margin-bottom:15px;
    font-size: 1.5em;
    
}

.losses{
    font-size: 1.5em;
    
}



/*Container for the text and crystals*/
.crystal-collection{
   display: flex;
  justify-content: center;
  align-items: center;
    border: dotted 1px #ffffff;
    
}
/*choose crystal text*/
.choose-crystal{
    margin: auto;     
}
/*div to hold crystal images*/
.crystal-image-container{
    margin:auto;
    margin-left:20px;
    
    overflow: hidden;
  
}
/*crystal images*/
.crystal{
    width:8em;
    margin: auto;

}
/*randomly generated number*/
.magic-div{
    text-align: center;
    font-family:'Raleway', sans-serif;
    font-size: 2em;


}

.crystalCounterContainer{
    text-align: center;
    font-family:'Raleway', sans-serif;
    font-size: 2em;
}

.win-count{
    margin-left:10px;
    display: inline;
    font-family:'Raleway', sans-serif;
}

.loss-count{
    margin-left:10px;
    display: inline;
    font-family:'Raleway', sans-serif;
   
}

@media (max-width:320px) {
    .crystal-image-container{
        /*margin:auto;*/
        margin-left:50px;
        display: flex;
        justify-content: space-around;
        overflow: hidden;
      
    }
    .crystal{
        width:3em;
        margin: auto;
        margin-top:20px;
    }
}
@media (min-width:375px) {
    .crystal-image-container{
        margin:auto;
        display: flex;
        justify-content: space-around;
        overflow: hidden;
      
    }
    .crystal{
        width:4em;
       
        margin-top:20px;
    }
}
@media (min-width:640px) {
    .choose-crystal {
      margin-bottom:20px;
    }
    .crystal-image-container{
        margin:auto;
        display: flex;
      
    }
    .crystal{
        width:5em;
        margin: auto;
        margin-top:20px;
    }
}

@media (min-width: 768px){
    .crystal{
        width:7em;
    margin: auto;
    }

    .crystal-collection{
        display: flex;
  justify-content: center;
  align-items: center;
    border: dotted 1px #ffffff;
    margin-bottom: 20px;

    }
}






